<!DOCTYPE html>

<html>

	<body>


		<!-- ============================================================= HEADER : END ============================================================= -->


		<!-- ============================================================= MAIN ============================================================= -->

		<main>

			<!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->

			<section id="portfolio">

				<div class="container inner">
					<div class="row">
            <ul class="text-center">
              <% if @favorites.length==0 %>
              <h4>There are no favorites on your feed, why not start this whole thing? </h4>
              <% end  %>
            <a href="/favorites/new" class="btn">Create a New Favorite Community</a><br>
            </ul>
					</div><!-- /.row -->
				</div><!-- /.container -->

				<div class="container inner-bottom">
					<div class="row">
						<div class="col-sm-12 portfolio">

							<ul class="filter text-center">

								<li>Community Pages</li>
							</ul><!-- /.filter -->

							<ul class="items col-3 gap">
                <% @favorites.reverse.each do |favorite|  %>
								<li class="item thumb interactive">
									<figure>

										<div class="icon-overlay icn-link">
											<a href="/favorites/<%=favorite.id%>"><%= image_tag favorite.attachment.url(:hrect_md) %></a>
										</div><!-- /.icon-overlay -->

										<figcaption class="bordered no-top-border">
											<div class="info">
												<h4><a href="/favorites/<%=favorite.id%>"><%= favorite.title %></a></h4>
												<p>Created by <%=favorite.user.name%></p>
											</div><!-- /.info -->
										</figcaption>

									</figure>
								</li><!-- /.item -->
                <% end  %>

							</ul><!-- /.items -->

						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->

			<!-- ============================================================= SECTION – SHARE : END ============================================================= -->

		</main>

		<!-- ============================================================= MAIN : END ============================================================= -->

		<!-- ============================================================= FOOTER : END ============================================================= -->

		<!-- For demo purposes – can be removed on production : End -->
	</body>
</html>
