<p id="notice"><%= notice %></p>

<p class="favorite_community_photo">
  <td><%= image_tag @favorite.attachment.url(:hrect_sm) || 'pet_community_photo.png', class: 'attachment' %></td>
</p>

<h1><%= @favorite.title %></h1>

<p>
  <%= @favorite.description %>
</p>

<%= link_to("Like This!", like_favorite_path) %><br>
<% if @favorite.get_likes.size == 1 %>
  <%= "#{@favorite.get_likes.size} person likes this" %><br>
<% else @favorite.get_likes.size > 1 %>
  <%= "#{@favorite.get_likes.size} people like this" %><br>
<% end %>
<%= link_to("Disike This!", unlike_favorite_path) %><br>

<% if current_user.voted_up_on? @favorite %>
  <%= render '/posts/form'  %>
<% end %>

<h4><strong>Community Feed</strong></h4>
<% Post.all.each do |post| %>
  <% if post.favorite_id == @favorite.id %>
    <% if post.attachment == nil %>
      <%= post.content %>
    <% else %>
    <p>
      <%= post.attachment %>
      <h4><%= post.content %></h4>
    </p>
      <% if post.user_id == current_user.id %>
        <%= link_to 'Edit Post', edit_post_path(post) %> | <%= link_to 'Delete Post', destroy_post_path(post) %><br>
      <% end %>
      <h4>Comments</h4>
        <hr>
          <%= render 'comments/form', commentable: post %>
        <br>
        <div class="comments">
          <ul>
            <%= render post.comments %>
          </ul>
        </div>
    <% end %>
  <% end %>
<% end %>






<% if current_user.id == @favorite.user_id %>
<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Destroy', @favorite, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', favorites_path %>
