<p id="notice"><%= notice %></p>

<p>
  <img width="250" height="150" src="<%= @favorite.attachment %>">
</p>

<h1><%= @favorite.title %></h1>

<p>
  <%= @favorite.description %>
</p>


<%= link_to("Like This!", like_post_path) %><br>
<% if @favorite.get_likes.size == 1 %>
  <%= "#{@favorite.get_likes.size} person like this" %>
<% else @favorite.get_likes.size > 1 %>
  <%= "#{@favorite.get_likes.size} people like this" %>
<% end %>

<% if current_user == @favorite.user_id %>
<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<% end %>
<%= link_to 'Back', favorites_path %>
