<li class="comment">
  <div class="avatar icon-overlay icn-link">
    <a href="/users/<%= comment.user.id%>"><%= image_tag(User.find(comment.user.id).avatar.url(:thumb)) %></a>
  </div><!-- /.avatar -->

  <div class="commentbody">

    <div class="author">
      <h3><a href="#"><%= comment.user.name %></a></h3>
      <div class="meta">
        <span class="date"><%= comment.created_at %></span>
      </div><!-- /.meta -->
    </div><!-- /.author -->

    <div id='all-comment' class="message">
      <p><%= comment.comment %></p>
      <ul class="meta">
      </ul><!-- /.meta -->
    </div><!-- /.message -->

  </div><!-- /.commentbody -->
</li><!-- /.comment -->
