
        <section id="team" class="light-bg inner-xs inner-left-xs inner-right-xs">

              <h3 class="team-headline sidelines text-center"><span>Make New Friends</span></h3>

              <div class="row thumbs gap-md text-center">
                <% @users.each do |user|  %>
                <% if user.id != current_user.id %>
                <div class="col-sm-2 thumb">
                  <figure id='user-<%=user.id %>' class="member">

                    <div class="card">
                      <div class="img-contain">
                        <%= image_tag (user.avatar.url(:medium)) %>
                      </div>
                        <figcaption class="member-details bordered no-top-border">
                      <h3><%= user.name %></h3>
                    </div>

                    </figcaption>
                    <% if current_user.my_friends.include?(user) %>
                     <%= link_to 'Unfriend', unfriend_path(:id => current_user.id, :friendship_id => current_user.find_friendship(current_user, user).id), remote: true, id:"friend-#{user.id}", class: "btn btn-medium" %>
                     <% elsif Request.find_by(:user_id => current_user.id, :friend_id => user.id) %>
                       <% @request = Request.find_by(:user_id => current_user.id, :friend_id => user.id) %>
                       <%= link_to("Cancel Request", "/requests/#{@request.id}/destroy", remote: true, class: "btn btn-medium", id: "friend-#{user.id}") %>
                    <% else %>
                      <%= link_to("Add Friend", requests_path(:friend_id => user.id, :user_id => current_user.id), method: "post", remote: true, class: "btn btn-medium", id: "friend-#{user.id}") %>
                    <% end %>
                  </figure>
                </div><!-- /.col -->
                 <% end %>
                 <% end %>
              </row>
            </section>
          
