



        <section id="team" class="light-bg inner-xs inner-left-xs inner-right-xs">
                
              <h3 class="team-headline sidelines text-center"><span>Make New Friends</span></h3>

              <div class="row thumbs gap-md text-center">
                <% @users.each do |user|  %>
                <div class="col-sm-2 thumb">
                  <figure class="member">
                    
                    <div class="member-image">
                      
        
                      
                      <%= image_tag (user.avatar.url(:medium)) %>
                      
                    </div><!-- /.member-image -->
                    
                    <figcaption class="member-details bordered no-top-border">
                      <h3>
                        <%= user.name %>
                      </h3>
                    </figcaption>
                    <% if current_user.my_friends.include?(user) %>
                     <%= link_to 'Unfriend', unfriend_path(:id => current_user.id, :friendship_id => current_user.find_friendship(current_user, user).id), class: "btn btn-medium" %>
                    <% else %>
                        <%= form_for :friendship, url: requests_path do |f| %>
                          <%= f.hidden_field :friend_id, :value => user.id %>
                          <%= f.hidden_field :user_id, :value => current_user.id %>
                          <%= f.submit "Add Friend", class: "btn btn-medium" %> <br>
                    <% end %>
                      <% end %>
                  </figure>
                </div><!-- /.col -->
                 <% end %>
              </row>
              
            </section>
