<%if @user == current_user %>
  <h1><%= @user.name %>'s Profile Page</h1>


<div class="container">
  <%= render "users/shared/profile_picture" %><br>
  <strong>Profile Picture</strong>

</div>



  <div class="col-md-4 ">
    <h3>My Biography</h3>
    Name: <%= @user.name %> <br>
    Species: <%= @user.species %> <br>
    User: <%= @user.gender %> <br>
    Birthday: <%= @user.birthday %> <br>
  </div>




  <table>
  <th>My Photos</th>
    <%@user.display_photos.in_groups_of(3) do |photos| %>
    <tr>
      <% photos.each do |photo| %>
      <% if photo %>
      <td> <%=image_tag photo.attachment.url %> </td>
      <% end %>
      <% end %>
    </tr>
    <% end  %>
  </table>

<div class="container">

  <h2>Friend Requests</h2>

  <% Request.all.each do |request| %>
  <% if request.friend_id == current_user.id %>
  <!--add in logic to not show requests after accepted -->
  <%= "#{User.find(request.user_id).name} would like to be your friend" %>
  <%= form_for :friendship, url: add_friend_path do |f| %>
  <%= f.hidden_field :friend_id, :value => request.user_id %>
  <%= f.hidden_field :user_id, :value => request.friend_id %>
  <%= f.hidden_field :request_id, :value => request.id %>
  <%= f.submit "Accept" %> <br>
  <% end %>
  <% end %>
  <% end %>

</div>
  <!-- friends list -->


<h3>My Friends</h3>

      <div class="container">
    <% @user.friendships.each do |friendship| %>
      <% @friend_num = friendship.friend_id %>
        <% @friend = User.find(@friend_num) %>
          <%= @friend.name %> <%= link_to "Check your friend's page!", "/users/#{@friend_num}/profile_page" %>  | <%= link_to 'Unfriend', unfriend_path(:friendship_id => friendship.id) %><br>
    <% end %>
    <% @user.inverse_friendships.each do |friendship| %>
      <% @friend_num = friendship.user_id %>
      <% @friend = User.find(@friend_num) %>
       <%= @friend.name %> <%= link_to "Check your friend's page!", "/users/#{@friend_num}/profile_page" %>  | <%= link_to 'Unfriend', unfriend_path(:friendship_id => friendship.id) %><br>
    <% end %>


  <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>

<% else %>
  <%= render '/users/profile/profile_page' %>

<% end %>
