<%if @user == current_user %>
<div class="container">
  <section id="hero">

        <div class="height-lg owl-inner-nav owl-ui-lg">
          <div class = "panel">
          <div class="item" style="background-image: url( <%= asset_path('hero_forest.jpg')%>);">
            <div class="container">
              <div class="caption vertical-center text-center">
                <div class="container">
                  <%= render "users/shared/profile_picture" %><br>
                </div>
                  <h1 class="fadeInDown-1 light-color"><%= @user.name %></h1>
                    <p class="fadeInDown-2 medium-color"></p>

              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
        </div>
        </section
</div>


  <div class="col-md-4 ">
    <h3>My Biography</h3>
    Name: <%= @user.name %> <br>
    Species: <%= @user.species %> <br>
    User: <%= @user.gender %> <br>
    Birthday: <%= @user.birthday %> <br>
  </div>

  <br>
  <br>
  <br>

    <div class="col-md-4">
      <h3> My Hangout Locations </h3>
      <% if @user.locations == [] %>
        <%= link_to 'Create new Hangout location', new_location_path %>
      <% else %>
      <div style='width: 400px;'>
        <h4>My Hang Out Location:</h4>
        <div id="map" style='width: 250px; height: 150px;'></div>
      </div>
      <% end %>

    <br>

    <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
    </script>
  </div>

<div class="col-md-4">
  <table>
  <th>My Photos</th>
    <%@user.display_photos.in_groups_of(3) do |photos| %>
    <tr>
      <% photos.each do |photo| %>
      <% if photo %>
      <td> <%= image_tag photo.attachment %></td>
      <% end %>
      <% end %>
    </tr>
    <% end  %>
  </table>
</div>

<div class="container">

  <h2>Friend Requests</h2>

  <% Request.all.each do |request| %>
  <% if request.friend_id == current_user.id %>
  <!--add in logic to not show requests after accepted -->
  <%= "#{User.find(request.user_id).name} would like to be your friend" %>

    <%= form_for :friendship, url: add_friend_path do |f| %>
      <%= f.hidden_field :friend_id, :value => request.user_id %>
      <%= f.hidden_field :user_id, :value => request.friend_id %>
      <%= f.hidden_field :request_id, :value => request.id %>
      <%= f.submit "Accept" %> <br>
   <% end %>
  <% end %>
<% end %>


</div>
  <!-- friends list -->


<h3>My Friends</h3>

      <div class="container">
    <% @user.friendships.each do |friendship| %>
      <% @friend_num = friendship.friend_id %>
        <% @friend = User.find(@friend_num) %>
          <%= @friend.name %> <%= link_to "Check your friend's page!", "/users/#{@friend_num}/profile_page" %>  | <%= link_to 'Unfriend', unfriend_path(:friendship_id => friendship.id) %><br>
    <% end %>
    <% @user.inverse_friendships.each do |friendship| %>
      <% @friend_num = friendship.user_id %>
      <% @friend = User.find(@friend_num) %>
       <%= @friend.name %> <%= link_to "Check your friend's page!", "/users/#{@friend_num}/profile_page" %>  | <%= link_to 'Unfriend', unfriend_path(:friendship_id => friendship.id) %><br>
    <% end %>


  <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>

<% else %>
  <%= render '/users/profile/profile_page' %>

<% end %>
