<%if @user == current_user %>
  <h1><%= @user.name %>'s Profile Page</h1>


<div class="container">
  <%= render "users/shared/profile_picture" %><br>
  <strong>Profile Picture</strong>

</div>



  <div class="col-md-4 ">
    <h3>My Biography</h3>
    Name: <%= @user.name %> <br>
    Species: <%= @user.species %> <br>
    User: <%= @user.gender %> <br>
    Birthday: <%= @user.birthday %> <br>


<!-- friends list -->
<h3>My Friends</h3>

      <div class="container">
    <% @user.friendships.each do |friendship| %>
      <% @friend_num = friendship.friend_id %>
        <% @friend = User.find(@friend_num) %>
          <%= @friend.name %> <%= link_to "Check your friend's page!", "/users/#{@friend_num}/profile_page" %>  | <%= link_to 'Unfriend', unfriend_path(:friendship_id => friendship.id) %>
<% end %>


      </div>

  </div>

  <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>

<% else %>
  <%= render '/users/profile/profile_page' %>

<% end %>
