<%if @user == current_user %>
  <h1><%= @user.name %>'s Profile Page</h1>

  <p>
    <strong>Profile Picture:</strong>
   <%= image_tag @user.avatar.url || 'pet-default.jpg', class: 'avatar' %>
  </p>

<!-- friends list -->
    <% @user.friends.each do |friend| %>
      <div class="container">

      <%= friend.name %> <%= link_to "Check your friend's page!", "/users/#{friend.id}/profile_page" %>

      </div>
    <% end %>

<% else %>
  <%= render '/users/profile/profile_page' %>

<% end %>
