<nav class="navbar navbar-fixed-top">

				<div class="navbar-header">
					<div class="container">

						<!-- ============================================================= LOGO MOBILE : END ============================================================= -->

						<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

					</div><!-- /.container -->
				</div><!-- /.navbar-header -->

				<div class="yamm">
					<div class="navbar-collapse collapse">
						<div class="container">
							<a class="navbar-brand" href="/"><img src="<%= asset_path("petpal_logo2.png") %>" class="logo"></a>
							<br>

							<!-- ============================================================= MAIN NAVIGATION ============================================================= -->

						<ul class="nav navbar-nav">
              <% if !!current_user %>
								<li>
                  <%= link_to('My Profile', "/users/#{current_user.id}/profile_page") %>
								</li><!-- /.dropdown -->

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle js-activated">Friends</a>
                  <ul class="dropdown-menu">
                    <% Request.all.each do |request| %>
                    <% if request.friend_id == current_user.id %>
                    <li>   <%= "#{User.find(request.user_id).name} would like to be your friend" %>
     <%= form_for :friendship, url: add_friend_path do |f| %>
       <%= f.hidden_field :friend_id, :value => request.user_id %>
       <%= f.hidden_field :user_id, :value => request.friend_id %>
       <%= f.hidden_field :request_id, :value => request.id %>
       <%= f.submit "Accept", class: 'btn btn-small' %>
       <% end %>
   <% end %>
    <% end %>

       				</li>


         				<li>
                  <%= link_to('Add Friends', users_index_path) %>
                </li><!-- /.dropdown -->
                  </ul>
                </li><!-- /.dropdown -->

                <li>
									<%= link_to('Favorite Communities', favorites_path) %>
								</li><!-- /.dropdown -->

                <li>
									<%= link_to('News Feed', posts_path) %>
								</li><!-- /.dropdown -->

								<li class="dropdown">
                  <a href="#" class="dropdown-toggle js-activated">Hangouts</a>
                  <ul class="dropdown-menu">
										<li>
											<%= link_to('Add Hangouts', new_location_path) %>
                		</li><!-- /.dropdown -->
										<li>
											<%= link_to('Search Pals', location_search_path) %>
                		</li><!-- /.dropdown -->
										<li>
											<%= link_to('View My Hangouts', locations_path) %>
										</li><!-- /.dropdown -->
                  </ul>
                </li><!-- /.dropdown -->

                <li>
									<%= link_to('Sign Out', destroy_user_session_path) %>
								</li><!-- /.dropdown -->
                <li><%= image_tag(current_user.avatar.url(:thumb), class: "round-image-50")  %></li>

              <% else %>
              <li>
                <%= link_to "PetPal", root_url %>
              </li>
                <li>
                  <%= link_to 'Sign up', '/users/sign_up' %>
                </li><!-- /.dropdown -->

                <li>
                  <%= link_to 'Sign in', user_session_path %>
                </li><!-- /.dropdown -->

                <li>
                  <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
                </li><!-- /.dropdown -->
                  <% end %>



								<li class="dropdown pull-right searchbox">
									<a href="#" class="dropdown-toggle js-activated"><i class="icon-search"></i></a>

									<div class="dropdown-menu">
										<form id="search" class="navbar-form search" role="search">
											<input type="search" class="form-control" placeholder="Type to search">
											<button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
										</form>
									</div><!-- /.dropdown-menu -->
								</li><!-- /.searchbox -->

							</ul><!-- /.nav -->

							<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

						</div><!-- /.container -->
					</div><!-- /.navbar-collapse -->
				</div><!-- /.yamm -->
			</div><!-- /.navbar -->
