<%= form_for(@post = Post.new) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="form" class="col-sm-4 inner-right-sm animated fadeInUp">
  <div class="field">
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
  <% if @favorite %>
    <div class="field">
      <%= f.hidden_field :favorite_id, :value => @favorite.id %>
    </div>
  <% end %>
  <div class="col-sm-8 col-sm-offset-2">
    <div class="actions">
      <%= f.submit class: 'btn btn-small' %>
    </div>
  </div>
<% end %>
</div>
