<!DOCTYPE html>
<html lang="en">

  <body>

    <!-- ============================================================= HEADER ============================================================= -->
    <!-- ============================================================= HEADER : END ============================================================= -->
    <!-- ============================================================= MAIN ============================================================= -->
    <main>
      <!-- ============================================================= SECTION – POPULAR POSTS ============================================================= -->
      <!-- ============================================================= SECTION – POPULAR POSTS : END ============================================================= -->
      <!-- ============================================================= SECTION – BLOG ============================================================= -->
      <section id="blog" class="light-bg">
        <div class="container inner-top-sm inner-bottom classic-blog no-sidebar">
          <ul class="text-center">
            <% if @posts.length==0 %>
            <h4>There are no posts on your feed, why not start this whole thing? </h4>
            <% end  %>
          <a href="/posts/new" class="btn">New Post</a><br><br><br><br>
          </ul>
          <div class="row inner-bottom-xs">
            <div class="col-sm-12">
                <ul class="filter text-center">
                  <li><a href="#" data-filter=".photography">Photography</a></li>
                </ul><!-- /.filter -->
            </div><!-- /.col -->
        </div><!-- /.row -->
          <div class="row">
            <div class="col-md-9 center-block">
              <div class="posts sidemeta">

<!-- with image attachment -->
                <% @posts.reverse.each do |post|  %>
                <% if post.attachment %>
                <div class="post format-image">
                  <div class="date-wrapper">
                    <div class="date">
                      <span class="Date"><%= post.created_at.to_s.split[0] %></span>
                    </div><!-- /.date -->
                  </div><!-- /.date-wrapper -->
                  <div class="format-wrapper">
                    <%= image_tag(User.find(post.user_id).avatar.url(:thumb), class: "round-image-50" )%></i></a>
                  </div><!-- /.format-wrapper -->
                  <div class="post-content">
                    <figure class="icn-link post-media">
                      <a href="/posts/<%=post.id%>"><%= image_tag post.attachment.url(:hrect_md) %></a>
                    </figure><!-- /.post-media -->
                    <h2 class="post-title">
                      <a href="/posts/<%=post.id%>">The girl and the summerlight</a>
                    </h2>

                    <ul class="meta">
                      <li class="categories"><a href="/posts/<%=post.id%>">Photography</a></li>
                      <li class="comments"><a href="/posts/<%=post.id%>"><%= post.comments.length %></a></li>

                    <% if (post.get_likes.select {|vote| vote.voter_id==current_user.id}) !=[] %>
                      <li class="likes">

                        <%= link_to("#{post.get_likes.length}", unlike_post_path(post), remote: true) %>
                      </li>
                    <% elsif (post.get_likes.select {|vote| vote.voter_id==current_user.id})==[] %>
                      <li class="likes">
                          <%= link_to("#{post.get_likes.length}", like_post_path(post), remote: true) %>
                      </li>
                    <% end %>
                    </ul><!-- /.meta -->


                    <p><%=post.content %></p>
                    <!-- button stuff -->
                    <ul>
                      <a href="/posts/<%=post.id%>" class="btn">Show Post</a>
                    <% if current_user.id == post.user_id %>
                      <a href="/posts/<%=post.id%>/edit" class="btn">Edit Post</a>
                      <a href="posts/<%=post.id%>/destroy" class="btn">Delete Post</a>
                    <% end %>
                    </ul>

                  </div><!-- /.post-content -->
                </div><!-- /.post -->
  <!-- without attachment               -->
                <% elsif !post.attachment %>

                <div class="post format-standard">

                  <div class="date-wrapper">
                    <div class="date">
                      <span class="Date"><%= post.created_at.to_s.split[0] %></span>
                    </div><!-- /.date -->
                  </div><!-- /.date-wrapper -->

                  <div class="format-wrapper">
                    <a href="#" data-filter=".format-image"><i class="round-image-50"><%= image_tag(User.find(post.user_id).avatar.url(:thumb)) %></i></a>
                  </div><!-- /.format-wrapper -->

                  <div class="post-content">

                    <h2 class="post-title">
                      <a href="blog-post.html"> <%= User.find(post.user_id).name %> </a>
                    </h2>

                    <ul class="meta">
                      <li class="categories"><a href="/posts/<%=post.id%>">Written Post</a></li>
                      <li class="comments"><a href="/posts/<%=post.id%>"><%= post.comments.length %></a></li>
                      <li class="likes"><a href="/posts/<%=post.id%>"> <%= post.get_likes.size %></a></li>
                    </ul><!-- /.meta -->

                    <p><%=post.content %></p>

                    <ul>
                      <a href="/posts/<%=post.id%>" class="btn">Show Post</a>
                    <% if current_user.id == post.user_id %>
                      <a href="/posts/<%=post.id%>/edit" class="btn">Edit Post</a>
                      <a href="posts/<%=post.id%>/destroy" class="btn">Delete Post</a>
                    <% end %>
                    </ul>

                  </div><!-- /.post-content -->

                </div><!-- /.post -->
                <% end  %>

                <% end %>
              </div>
          </div>  <!--  col -->
            <aside class="col-md-3">
              <div class="sidebox widget">
                <% if Post.all.length>0 %>
                 <h4>Random Posts</h4>
                  <div class="row thumbs gap-xs">
                    <% 6.times do |i|%>
                      <% @random_post = Post.all[rand(0..(Post.all.length-1))] %>
                      <div class="col-xs-6 thumb">
                      <figure class="icon-overlay icn-link">
                      <a href="/posts/<%=@random_post.id%>"><img src="<%= @random_post.attachment.url(:small) %>" alt=""></a>
                    </figure>
                  </div><!-- /.thumb -->
                    <% end %>
                  <% end %>
                </div><!-- /.row -->
              </div><!-- /.widget -->
              </aside>
        </div>  <!--  row -->
      <!-- ============================================================= SECTION – BLOG : END ============================================================= -->
    </main>


  </body>
</html>
