
		<main>

			<!-- ============================================================= SECTION – POPULAR POSTS ============================================================= -->

			<!-- ============================================================= SECTION – POPULAR POSTS : END ============================================================= -->


			<!-- ============================================================= SECTION – BLOG POST ============================================================= -->

			<section id="blog-post" class="light-bg">
				<div class="container inner-top-sm inner-bottom classic-blog no-sidebar">
					<div class="row">
						<div class="col-md-9 center-block">
							<div class="sidemeta">

                    <div class="post format-image">
                      <div class="date-wrapper">
                        <div class="date">
                          <span class="day">10</span>
                          <span class="month">May</span>
                        </div><!-- /.date -->
                      </div><!-- /.date-wrapper -->
											<div class="format-wrapper">
		                    <%= image_tag(User.find(@post.user_id).avatar.url(:thumb), class: "round-image-50" )%></i></a>

		                  </div><!-- /.format-wrapper -->
                      <div class="post-content">
                        <figure class="icon-overlay icn-link post-media">
                          <%= image_tag @post.attachment.url(:small) %>
                        </figure><!-- /.post-media -->
                        <h2 class="post-title">

                          <a href="/users/<%=@post.user_id%>">
                            <%= User.find(@post.user_id).name %>
                          </a>

                        </h2>
                        <ul class="meta">
                            <% if @post.comments.length > 1 %>
                              <li class="comments"><a href="/posts/<%=@post.id%>"><%= @post.comments.length %> Comments</a></li>
                            <% elsif @post.comments.length == 1 %>
                              <li class="comments"><a href="/posts/<%=@post.id%>"><%= @post.comments.length %> Comment</a></li>
                            <% else %>
                              <li class="comments"><a href="/posts/<%=@post.id%>">No Comments</a></li>
                            <% end %>
														<% if (@post.get_likes.select {|vote| vote.voter_id==current_user.id}) !=[] %>
				                      <li class="likes">

				                        <%= link_to("#{@post.get_likes.length}", unlike_post_path(@post), remote: true) %>
				                      </li>
				                    <% elsif (@post.get_likes.select {|vote| vote.voter_id==current_user.id})==[] %>
				                      <li class="likes">
				                          <%= link_to("#{@post.get_likes.length}", like_post_path(@post), remote: true) %>
				                      </li>
				                    <% end %>
                        </ul><!-- /.meta -->

                        <p>
                          <font size="4"> <%= @post.content %></font>
                        </p>
                        <!-- <a href="blog-post.html" class="btn">Read more</a> -->
                        <br>
                        <ul>
                          <% if current_user.id == @post.user_id %>
                            <a href="/posts/<%=@post.id%>/edit" class="btn">Edit Post</a>
                            <a href="posts/<%=@post.id%>/destroy" class="btn">Delete Post</a>
                          <% end %>
                        </ul>
                      </div><!-- /.post-content -->
                    </div><!-- /.post -->


<!-- comments -->
								<div id="comments">
									<% if @post.comments.length > 1%>
  									   <h2><%= @post.comments.length %> Comments</h2>
                    <% elsif @post.comments.length == 1 %>
                      <h2><%= @post.comments.length %> Comment</h2>
                    <% else %>
                      <h2>No Comments Yet. Bark Away!</h2>
                    <% end %>

              <%= render @post.comments.reverse %>

								<div class="comment-form-wrapper">
									<h2>Leave a Comment</h2>

								<div class="row">
									<div class="col-sm-12">
										<%= render "comments/form", commentable: @post %>
									</div><!-- /.col -->
								</div><!-- /.row -->



									<div id="response"></div>
								</div><!-- /.comment-form-wrapper -->

							</div><!-- /.sidemeta -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – BLOG POST : END ============================================================= -->

		</main>

		<!-- ============================================================= MAIN : END ============================================================= -->
