<p id="notice"><%= notice %></p>

<p>
  <strong>Attachment:</strong>
  <img width="250" height="150" src="<%= @post.attachment %>">
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<h4>Comments</h4>
<hr>
<%= render 'comments/form', commentable: @post %>
<br>
<div class="comments">
  <ul>
    <%= render @comments %>
  </ul>
</div>
<%= render 'shared/actions', resource: @post %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
