<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>REEN</title>

		<!-- Bootstrap Core CSS -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">

		<!-- Customizable CSS -->
		<link href="assets/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
		<link href="assets/css/green.css" rel="stylesheet" title="Color">
		<link href="assets/css/owl.carousel.css" rel="stylesheet">
		<link href="assets/css/owl.transitions.css" rel="stylesheet">
		<link href="assets/css/animate.min.css" rel="stylesheet">

		<!-- Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

		<!-- Icons/Glyphs -->
		<link href="assets/fonts/fontello.css" rel="stylesheet">

		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/images/favicon.ico">

		<!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<!-- ============================================================= HEADER ============================================================= -->

		<!-- ============================================================= HEADER : END ============================================================= -->


		<!-- ============================================================= MAIN ============================================================= -->

		<main>

			<!-- ============================================================= SECTION – POPULAR POSTS ============================================================= -->

			<!-- ============================================================= SECTION – POPULAR POSTS : END ============================================================= -->


			<!-- ============================================================= SECTION – BLOG POST ============================================================= -->

			<section id="blog-post" class="light-bg">
				<div class="container inner-top-sm inner-bottom classic-blog no-sidebar">
					<div class="row">
						<div class="col-md-9 center-block">
							<div class="sidemeta">

                    <div class="post format-image">
                      <div class="date-wrapper">
                        <div class="date">
                          <span class="day">10</span>
                          <span class="month">May</span>
                        </div><!-- /.date -->
                      </div><!-- /.date-wrapper -->
                      <div class="format-wrapper">
                        <a href="#" data-filter=".format-image"><i class="icon-picture-1"></i></a>
                      </div><!-- /.format-wrapper -->
                      <div class="post-content">
                        <figure class="icon-overlay icn-link post-media">
                          <%= image_tag @post.attachment.url(:small) %>
                        </figure><!-- /.post-media -->
                        <h2 class="post-title">

                          <a href="/users/<%=@post.user_id%>">
                            <%= User.find(@post.user_id).name %>
                          </a>

                        </h2>
                        <ul class="meta">
                          	<li class="comments"><a href="#"> <%= @post.comments.length %></a></li>
														<% if (@post.get_likes.select {|vote| vote.voter_id==current_user.id}) !=[] %>
				                      <li class="likes">

				                        <%= link_to("#{@post.get_likes.length}", unlike_post_path(@post), remote: true) %>
				                      </li>
				                    <% elsif (@post.get_likes.select {|vote| vote.voter_id==current_user.id})==[] %>
				                      <li class="likes">
				                          <%= link_to("#{@post.get_likes.length}", like_post_path(@post), remote: true) %>
				                      </li>
				                    <% end %>
                        </ul><!-- /.meta -->

                        <p>
                          <font size="4"> <%= @post.content %></font>
                        </p>
                        <!-- <a href="blog-post.html" class="btn">Read more</a> -->
                        <br>
                        <ul>
                          <% if current_user.id == @post.user_id %>
                            <a href="/posts/<%=@post.id%>/edit" class="btn">Edit Post</a>
                            <a href="posts/<%=@post.id%>/destroy" class="btn">Delete Post</a>
                          <% end %>
                        </ul>
                      </div><!-- /.post-content -->
                    </div><!-- /.post -->


<!-- comments -->
								<div id="comments">
									<h2><%= @post.comments.length %> Comment(s)</h2>
									<ol class="commentlist">

										<%= render @post.comments %>

									</ol><!-- /.commentlist -->
								</div><!-- /#comments -->

								<div class="comment-form-wrapper">
									<h2>Leave a Comment</h2>

								<div class="row">
									<div class="col-sm-12">
										<%= render "comments/form", commentable: @post %>
									</div><!-- /.col -->
								</div><!-- /.row -->



									<div id="response"></div>
								</div><!-- /.comment-form-wrapper -->

							</div><!-- /.sidemeta -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

			<!-- ============================================================= SECTION – BLOG POST : END ============================================================= -->

		</main>

		<!-- ============================================================= MAIN : END ============================================================= -->

		<!-- For demo purposes – can be removed on production : End -->
	</body>
</html>
