<div class="container">

<br>

<h2>Search Hangout Location</h2>

<%= form_tag location_search_path, :method => :get do %>
  <p>
  <div id="form" class="col-sm-6 inner-right-md animated fadeInUp">
    <%= text_field_tag :search, params[:search], placeholder: 'Type here' %>
    <div class="col-sm-6 col-sm-offset-3">
      <%= submit_tag "Find Pals Nearby", class: 'btn btn-sm', :name => nil %>

    </div>

  </div>
  </p>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="row">

        <h2>Listing Hangouts</h2>

        <table>
          <thead>
            <tr>
              <th>Name </th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody id="tbone">
            <% if params[:search].present? %>
              <% @locations.each do |location| %>
                <% location.users.each do |x| %>
              <tr>
                <td><h4><%= x.name %> -<h4></td>
                <td id="tbone"><%= link_to 'Show', location, class: 'tbone btn btn-sm' %></td>
              <% if location.users.include?(current_user) %>
                <td id="tbone"><%= link_to 'Edit', edit_location_path(location), class: 'tbone btn btn-sm'%></td>
                <td id="tbone"><%= link_to 'Destroy', location, class: 'tbone btn btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
              </tr>
                <% end %>
              <% end %>
          </tbody>
        </table>
          <div class="col-sm-4 col-sm-offset-2">
            <br>
          <%= link_to "Search again", location_search_path, class: 'btn btn-sm' %>
        </div>
        <% end %>

    </div>
  </div>
</div>

<br>
<%= render 'map' %>
</div>
