<%# if @user == current_user %>
<p id="notice"><%= notice %></p>

  <%# @user.locations.each do |x| %>
    <p>
      <strong>Address:</strong>
      <%= @location.address %>
    </p>

    <p>
      <strong>Latitude:</strong>
      <%= @location.latitude %>
    </p>

    <p>
      <strong>Longitude:</strong>
      <%= @location.longitude %>
    </p>
    <%# image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
  <%# end %>
  <br>

  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <br>

  <script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    // debugger;
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(14);
  });
  </script>



<h3>Nearby locations</h3>
<ul>
  <% for location in @location.nearbys(30) %>
    <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
  <% end %>
  </ul>

<p>
  <%= link_to "Edit", edit_location_path(@location), class: 'btn btn-small' %>
  <%= link_to "Destroy", @location, class: 'btn btn-small', :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to "View All", locations_path, class: 'btn btn-small' %>
</p>
